.favorite {
    // height: 500px;
    padding: 30px;
    color: aliceblue;

    .emptyFavorite {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;

        img {
            opacity:0.5;
            margin: 60px 0;
        }
    }
}