
.card{
    display: inline-block;
    background: #fff;
    align-items: center;
    border: 1px solid #f3f3f3;
    width: 196px;
    padding: 20px;
    margin: 8px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1) ;
    transition: box-shadow 0.2s ease-in-out;
    transform: 0.2s ease-in-out;
    cursor: pointer;
    
    .like {
      position: absolute;
      cursor: pointer;
    }
    h5 {
      font-weight: 400;
      font-size: 14px;
    }
  
    span {
      opacity: 0.5;
      font-size: 13px;
    }
    .priceD {

      .div1 { 
        background: rgb(109, 109, 109);
        width: 100px;
      }
      .div2 { 
        background: rgb(153, 120, 120);
        width: 100px;
      }
    }
  }
  .card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.2) ;
    transform: translateY(-5px);
  }  

// .addBox {

// }