body {
  margin: 0;
  font-family: 'Inter', system-ui;
  background: linear-gradient(270deg, #77b69a, #4d87b6, #b0635e);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.wrapper {
  background: rgba(186, 235, 255, 0.3);
  box-shadow: 0 10px 20px rgba(26, 23, 23, 0.4);
  border-radius: 10px;
  width: 1080px;
  margin: 50px auto;
  outline: none;
  text-decoration: none;

  .overflow-hidden {
    overflow: hidden;
    height: 100%;
  }
}

header{
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .headerLeft {
    display: flex;
    align-items: center;
  }

  .headerRight {
    svg{
      cursor: pointer;
      color:#067;
      font-size: 30px;
    }
    ul {
      display: flex;
      list-style-type: none;  
      
      li {
        margin-left: 20px;
        color: #067;
  
        span {
          margin-left: 5px;
        }
      }
    }
  } 

  img{
    margin-right: 15px;
  }
  h3, p{
    margin: 0;
  }
}
.content{
  padding: 30px;

  .search-block{
    opacity: 0.8;
    border: 1px solid #f3f3f3;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    height: 40px;
    position: relative;

    .clear {
      right: 0;
      top: 15px;
      margin-right: 10px;
      color: #e1f1ff;
      position: absolute;
    }

    input{
      height: 20px;
      background: rgba(255, 255, 255, 0.01);
      justify-content: space-between;
      border: 0;
      padding: 10px;
      font-size: 16px;
    }
  }
}

.loginBlock {
    display: none;
}
.CloseIcon{
  cursor: pointer;
  color: #3d6b00;
  opacity: 0.8;
  transition: 0.7s all;
      
      &:hover {
          color: #335a00;
          transform: rotate(90deg);
          zoom: 1.1;
      }
}